<div class="menu-content">
	<h1>Summer Smith</h1>
	<a href="{{ site.url }}">Home</a><br>
	<a href="/exhibitions.html">Exhibitions</a><br>
	<a href="/writing.html">Writing</a><br>
	<a href="/about.html">About</a>
</div>
<button class="hamburger" onclick="toggleMenu()">
	<span class="bar"></span>
	<span class="bar"></span>
	<span class="bar"></span>
</button>
<div class="social-links">
	<a href="https://github.com/summasmiff" target="_blank" title="Github"><span
			class="genericon genericon-github"></span></a>
</div>
