<label class="menu" for="_1">
	<span class="genericon genericon-menu"></span>
</label>
<input id="_1" type="checkbox">
<div class="menu-content">
	<div class="menu" style="background-color: #777;"></div>
	<a href="{{ site.url }}">Home</a><br>
<!-- 	<a href="#">Portfolio</a><br> -->
	<a href="/about.html">About</a>
</div>
<div class="social-links">
	<a href="https://github.com/summasmiff" target="_blank" title="Github"><span class="genericon genericon-github"></span></a>
  <a href="http://summasmiff.tumblr.com" target="_blank" title="Tumblr"><span class="genericon genericon-tumblr"></span></a>
  <a href="https://twitter.com/sumerfish" target="_blank" title="Twitter"><span class="genericon genericon-twitter"></span></a>
  <a href="https://www.pinterest.com/summasmiff/" target="_blank" title="Pinterest"><span class="genericon genericon-pinterest"></span></a>
  <a href="https://instagram.com/summasmiff/" target="_blank" title="Instagram"><span class="genericon genericon-instagram"></span></a>
	<!-- <a href="{{ site.url }}/atom.xml" target="_blank" title="Subscribe to RSS"><span class="genericon genericon-feed"></span></a> -->
</div>
