---
layout: default
article: true
---

<header class="clean" style="height: 100%;">
	<div id="post-info">

		<div class="hero-container">
			{% if page.next %}
			<a href="{{ page.next.url }}" class="nav-arrow next">&#9664;</a>
			{% else %}
			<div class="nav-arrow-placeholder"></div>
			{% endif %}

			{% if page.image %}
			<img class="hero" src="{{ page.image }}" />
			{% endif %}

			{% if page.previous %}
			<a href="{{ page.previous.url }}" class="nav-arrow prev">&#9654;</a>
			{% else %}
			<div class="nav-arrow-placeholder"></div>
			{% endif %}
		</div>

		<h1>{{ page.title }}</h1>
		{% if page.quote %}
		<h2>{{ page.quote }}</h2>
		{% endif %}

		<h3 style="text-align: right;"><a href="{{ site.url }}">Home</a></h3>

		<br />
		<a class="site-title" href="{{ site.url }}"><img src="{{ site.icon }}" class="site-icon-small">{{ site.title }}</a>

	</div>
</header>
<div class="content">
	{{ content }}
</div>
